<div class="header-container">
    <div class="container">
        <a routerLink="/">
            <div class="js-name heading">{{ data['name'] }}</div>
        </a>
        <div class="is-flex">
            <div class="js-designation sub-heading">{{data['designation']}}</div>
            <div class="menu-items is-flex-dm flex-content-centre">
                <div><a [ngClass]="{'is-active': router.url==='/'}" routerLink="/">Home</a></div>
                <div>
                    <a [ngClass]="{'is-active': router.url==='/education'}" routerLink="/education">
                        Education & Projects
                    </a>
                </div>
                <div><a [ngClass]="{'is-active': router.url==='/projects'}" routerLink="/projects">Experience</a></div>
                <div><a href="assets/{{ data['resume'] }}">Resume</a></div>
                <!-- <div><a routerLink="/contact">Contact</a></div> -->
            </div>
        </div>
    </div>
</div>