<div class="footer-container">
    <div class="is-flex padding container">
        <div class="is-flex-dm flex-space flex-content-centre">
            <div>
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <div class="footer-heading">Location:</div>
                <div>{{ data['location'] }}</div>
            </div>
        </div>
        <div class="is-flex-dm flex-space flex-content-centre">
            <div>
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope-open-text fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <div class="footer-heading">Contact</div>
                <div><a href="mailto:{{ data['email'] }}">{{ data['email'] }}</a></div>
            </div>
        </div>
        <div class="is-flex-dm flex-space flex-content-centre">
            <div>
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <div class="footer-heading">Follow me</div>
                <div class="is-flex-dm social-links">
                    <div><a href="{{ data['linkedin'] }}"><span class="fab fa-linkedin"></span></a>
                    </div>
                    <div><a href="{{ data['facebook'] }}"><span class="fab fa-facebook"></span></a>
                    </div>
                    <div><a href="{{ data['github'] }}"><span class="fab fa-github"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="is-flex flex-space flex-content-centre">
            <div>
                <span class="fa-stack">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-copyright fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div>
                <div class="">{{ data['copyright'] }}</div>
            </div>
        </div>
    </div>
</div>