@import "~src/variables.scss";
.footer-container {
    background-color: $footer-color;
    color: white;

    .fa-stack {
        color: #61d0d4;
        font-size: 1.5em;
        padding: 8px;
    }
    
    .footer-heading {
        font-weight: bold;
    }
    
    .profile-container {
        min-height: 60vh;
    }

    .social-links>div {
        padding: 4px;
        font-size: 22px;
    }
}

