<div class="education-container">
    <div class="container">
        <div class="is-flex">
            <div class="academics-container">
                <div class="heading">Experience</div>
                <div class="schools-container">
                    <div class="education" *ngFor="let experience of data['workexperience']">
                        <div class="school-inner-container">
                            <div class="is-flex">
                                <div>{{ experience['Duration'] }}</div>
                                <div class="flex-space"></div>
                                <div title="score">{{ experience['location'] }}</div>
                            </div>
                            <div class="title">{{ experience['Organization'] }}</div>
                            <div>{{ experience['Designation'] }}</div>
                            <div class="courses">
                                <div class="course" *ngFor="let skill of split(experience['Skills'])">
                                    {{ skill }}
                                </div>
                            </div>
                            <div class="edu-desc" [innerHTML]="experience['Responsibilities']"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skills-container">
                <div>
                    <div class="heading">Skills</div>
                    <div>
                        <div *ngFor="let key of keys(data['skills'])">
                            <div class="skill-heading">{{ key }}</div>
                            <div>{{ data['skills'][key] }}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="heading">Blogs</div>
                    <div>
                        <div *ngFor="let blog of data['blogs']">
                            <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="heading">Hobbies</div>
                    <div>
                        <div *ngFor="let hobby of data['hobbies']">{{ hobby }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>