@import "~src/variables.scss";
.education-container{
    background-color: $body-color;
    @media only screen and (max-width: 768px) {
        padding: 8px;
    }
    .heading {
        padding: 32px 16px 16px 0px;
        font-size: 32px;
        font-weight: 500;
    }

    .projects-container {
        .project-img {
            height: 30vh;
            width: 30vw;
            @media only screen and (max-width: 768px) {
                width: auto;
            }
        }
        .title {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .academics-container {
        flex:2;
    }

    .schools-container {
        display: flex;
        flex-wrap: wrap;

        .education {
            width: 30%;
            padding: 16px;

            @media only screen and (max-width: 768px) {
                width: 100%;
            }

            .school-inner-container {
                box-shadow: 2px 2px 16px #F1F2F3;
                padding: 16px;
                background-color: $card-bgcolor;
                border-radius: 8px;
                border-bottom: 8px solid #e33d3d;
            }

            .title {
                font-size: 24px;
                font-weight: 500;
                margin-top: 8px;
            }

            .courses {
                display: inline-flex;
                flex-wrap: wrap;
                gap: 8px;
                margin-top: 16px;

                .course {
                    padding: 8px;
                    background-color: #F1F2F3;
                    border-radius: 16px;
                    font-size: 12px;
                    

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }

            .edu-desc {
                margin: 32px 0px;
            }
        }
    }

    .skills-container {
        flex: 1;
        .skill-heading {
            font-size: 20px;
            font-weight: 500;
            margin: 16px 0px 6px 0px;
        }
    }

    
}
