<div class="education-container">
    <div class="container">
        <!-- <div class="is-flex"> -->
        <div class="academics-container">
            <div>
                <div class="projects-container">
                    <div class="heading"><i class="fas fa-tasks"></i> Projects</div>
                    <div>
                        <div class="proj-container" *ngFor="let project of data['projects']">
                            <div class="is-flex">
                                <div class="flex-space">
                                    <img class="project-img" src="assets/{{project['image']}}"
                                        alt="{{project['title']}}" srcset="">
                                </div>
                                <div class="flex-2 padding">
                                    <div class="title">
                                        {{ project['title'] }}
                                    </div>
                                    <div>
                                        <a *ngIf="project['demo']" style="font-weight: bold; text-decoration: underline;" href="{{ project['demo'] }}">Demo</a>&nbsp;&nbsp;
                                        <a *ngIf="project['github url']" href="{{ project['github url'] }}"  class="fab fa-github proj-git"></a>
                                    </div>
                                    <div class="desc">
                                        {{ project['about'] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="heading"><i class="fas fa-book-reader"></i> Education</div>
                <div class="schools-container">
                    <div class="education" *ngFor="let education of data['education']">
                        <div class="school-inner-container">
                            <div class="is-flex">
                                <div>{{ education['duration'] }}</div>
                                <div class="flex-space"></div>
                                <div title="score">{{ education['score'] }}</div>
                            </div>
                            <div class="title">{{ education['Education Level'] }}</div>
                            <div class="courses">
                                <div class="course" *ngFor="let course of split(education['Key Courses'])">
                                    {{ course }}
                                </div>
                            </div>
                            <div class="edu-desc">{{ education['desc'] }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="skills-container">
                <div>
                    <div class="heading">Skills</div>
                    <div>
                        <div *ngFor="let key of keys(data['skills'])">
                            <div class="skill-heading">{{ key }}</div>
                            <div>{{ data['skills'][key] }}</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="heading">Blogs</div>
                    <div>
                        <div *ngFor="let blog of data['blogs']">
                            <a href="{{ blog['link'] }}">{{ blog['title'] }}</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="heading">Hobbies</div>
                    <div>
                        <div *ngFor="let hobby of data['hobbies']">{{ hobby }}</div>
                    </div>
                </div>

            </div>
        </div> -->
    </div>
</div>