@import "~src/variables.scss";
.profile-container {
    background-color: $body-color;
    min-height: 80vh;
    
    .profile-photo {
        border-radius: 50%;
        height: 500px;

        @media only screen and (max-width: 768px) {
            width: 80vw;
            height: auto;
        }
    }
    
    .profile-heading {
        font: normal normal bold 80px/1.2em 'noticia text',serif;
        color: #4D4D4D;
    }
    
    .profile-sub-heading {
        font: normal normal normal 46px/1.2em 'noticia text',serif;
        color: #4D4D4D;
    }
    .intro {
        margin-top: 32px;
    }
    
    .higlight-buttons>a {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        text-align: center;
        margin: 8px;
        justify-content: center;
        background-color: #868a87;
        cursor: pointer;
        font-weight: 600;
        color: white;
        @media only screen and (max-width: 768px) {
            height: 60px;
            width: 60px;
        }
    }
    
    .higlight-buttons>a:hover {
        opacity: 0.5;
    }
}