<div class="profile-container">
    <div class="container is-flex padding flex-content-centre">
        <div class="padding">
            <img class="profile-photo" src="assets/{{ data['image'] }}" alt="profile_photo">
        </div>
        <div class="padding">
            <div class="profile-heading">Hello,</div>
            <div class="profile-sub-heading">{{ data['salutation'] }}</div>
            <div class="is-flex-dm higlight-buttons">
                <a routerLink="/education" style="background-color: {{ colors[0] }};"
                    class="padding is-flex flex-content-centre">
                    <div>My Education</div>
                </a>
                <a routerLink="/projects" style="background-color: {{ colors[1] }};"
                    class="padding is-flex flex-content-centre">
                    <div>My Work</div>
                </a>
                <a routerLink="/projects" style="background-color: {{ colors[2] }};"
                    class="padding is-flex flex-content-centre">
                    <div>My Skills</div>
                </a>
            </div>
            <div class="intro" [innerHTML]="data['intro']">
            </div>
        </div>
    </div>
</div>